[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sathishvit
[access "refs/for/refs/*"]
	read = group user/sathishvit
	push = group user/sathishvit
	label-Code-Review = -2..+2 group user/sathishvit
	label-Verified = -1..+1 group user/sathishvit
	rebase = group user/sathishvit
	removeReviewer = group user/sathishvit
	submit = group user/sathishvit
[access "refs/heads/*"]
	read = group user/sathishvit
	create = group user/sathishvit
	push = +force group user/sathishvit
	pushMerge = group user/sathishvit
[access "refs/tags/*"]
	push = +force group user/sathishvit
	pushTag = group user/sathishvit
	pushSignedTag = group user/sathishvit
